html, body
{
    margin: 0;
    padding: 0;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
#outer
{
    display: table-cell;
    vertical-align: middle;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    height: 850px;
    width: 530px;
    background-color: black;
}

#tabs
{
    height: 104px;
    width: inherit;
}

.tab
{
    width: 104px;
    height: inherit;
    background-color: #252F3F;
    border: 1px solid #2D3746;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
}

#dialed
{
    width: inherit;
    height: 150px;
}

#matched
{
    width: inherit;
    height: 104px;
    background-color: #323232;
}

#dialpad
{
    width: inherit;
    height: 492px;
    background-color: #1A1A1A;
}

#dialpad-container
{
    width: 500px;
    height: 462px;
    margin-left: auto;
    margin-right: auto;
}

.rows
{
    display: inline-block;
    width: inherit;
    height: 80px;
    margin-top: 15px;
}

.numbers
{
    width: 150px;
    height: inherit;
    background-color: #696969;
    display: inline-block;
}

#first-row > div.numbers + div,
#second-row > div.numbers + div,
#third-row > div.numbers + div,
#fourth-row > div.numbers + div
{
    margin-left: 21px;
}

#fifth-row
{
    width: inherit;
    height: 80px;
    margin-top: 15px;
    padding: 0;
}

#call-button
{
    width: 150px;
    height: 80px;
    background-color: #696969;
    display: inline-block;
}

#video-call-button,
#sms-button,
#backspace-button
{
    width: 99px;
    height: 80px;
    background-color: #696969;
    display: inline-block;
}

#video-call-button
{
    margin-left: 21px;
}

#fifth-row > div + div + div
{
    margin-left: 10px;
}

/* Styles of button images, numbers and letters on a dialpad*/

.num
{
    color: white;
    font-size: 70px;
    margin-left: 15px;
    display: inline-block;
    width: 35px;
}

.letter
{
    color: #B8B8B8;
    display: inline-block;
    height: 25px;
    font-size: x-large;
    position: relative;
    top: -18px;
    left: 14px;
}

#dialpad-astra
{
    color: white;
    display: inline-block;
    font-size: 70px;
    position: relative;
    left: 15px;
    top: 10px;
}

#dialpad-p
{
    color: #B8B8B8;
    display: inline-block;
    height: 25px;
    font-size: xx-large;
    position: relative;
    top: -16px;
    left: 35px;
}

#dialpad-plus
{
    font-size: xx-large;
    display: inline-block;
    color: #B8B8B8;
    font-weight: bold;
    position: relative;
    left: 25px;
    top: -16px;
}